* {
  box-sizing: border-box;
}


.root {
  background-color: purple;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}
  
.nav {
  position:sticky;
  top: 0;
}